name: Daily Playlist Update

on:
  schedule:
    # This runs every 24 hours (at 00:00 UTC)
    - cron: '0 0 * * *'
  # This allows you to click a button to run it manually whenever you want
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-m3u:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Run Filter Script
        run: python script.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add *.m3u
          git commit -m "Auto-update playlists" || echo "No changes to commit"
          git push
